<!-- <p>取引メニュー（マイリスト）</p> -->

<div class="service-menu wrapper">

  <article>

    <div>
      <select class="select-btn" [(ngModel)]="selected" (change)="changeOrder()">
        <option value="">並び順</option>
        <option *ngFor="let item of orderMenu"
        [value]="item.value"
        [selected]="item.value === selected">{{item.value}}
      </option>
      </select>
    </div>

    <div class="contants">
      <div *ngFor="let contents of displayContentsList">
        <div class="item" (click)="onContentsSelect(contents.id)">{{contents.title}}</div>
        <div class="title" (click)="onContentsSelect(contents.id)">{{contents.title}}</div>
      </div>
    </div>
    
    <div class="service-index" >
      <input type="button" class="btn-border" on-click="onContentsForward" value="前へ">
      <div *ngFor="let index of pageIndex">
        <input type="button" class="btn-border" on-click="onContentsIndex(index)" value="{{index}}">
      </div>
      <input type="button" class="btn-border" on-click="onContentsNext" value="次へ">
    </div>
  </article>

</div>
