<!-- <p>取引メニュー（マイリスト）</p> -->

<button (click)="goBack()">戻る</button>

<div class="service-menu wrapper">

  <article>
    <input id="serch" name="serch" class="serch-form" type="serch" placeholder="キーワードを入力してください。"/>

    <div class="service-contents">
      <div class="contants">
        <div *ngFor="let contents of displayContentsList">
          <div class="item" (click)="onContentsSelect(contents.id)">{{contents.title}}</div>
        </div>
      </div>
    </div>

    <div class="service-index" >
      <input type="button" class="btn-border" on-click="onContentsForward" value="前へ">
      <div *ngFor="let index of pageIndex">
        <input type="button" class="btn-border" on-click="onContentsIndex(index)" value="{{index}}">
      </div>
      <input type="button" class="btn-border" on-click="onContentsNext" value="次へ">
    </div>
  </article>

</div><!-- /.service-menu-->
