<!-- <p>取引メニュー（閲覧履歴）</p> -->

<button (click)="goBack()">戻る</button>

<div class="service-contents">
  <div class="contants">

    <div class="item-list-heder">
      <div class="heder-check" >{{HEAD.check}}</div>
      <div class="heder-title" >{{HEAD.title}}</div>
      <!-- <div class="heder-contents" >{{HEAD.contents}}</div> -->
      <div class="heder-price" >{{HEAD.price}}</div>
      <div class="heder-whet" >{{HEAD.whet}}</div>
      <div class="heder-endDate" >{{HEAD.endDate}}</div>
    </div>

    <div *ngFor="let content of detailList">
      <div class="item-list">
        <input type="checkbox" class="item-check"
        [(ngModel)]="content.check"
        (change)="deleteSelection(content.id)">
        <!-- <div class="item-check" >{{content.check}}</div> -->
        <div class="item-title" >{{content.title}}</div>
        <!-- <div class="item-contents" >{{content.contents}}</div> -->
        <div class="item-price" >{{content.price}}</div>
        <div class="item-whet" >{{content.whet}}</div>
        <div class="item-endDate" >{{content.endDate}}</div>
      </div>
    </div>
  </div>
</div>
