.item-list-heder {
  display: flex;
}
.heder-check {
  border: 1px solid #000;
  width: 30px;
}

.heder-title {
  border: 1px solid #000;
  width: 50px;
}
.heder-contents {
  border: 1px solid #000;
  width: 100px;
}
.heder-price {
  border: 1px solid #000;
  width: 100px;
}
.heder-whet {
  border: 1px solid #000;
  width: 100px;
}
.heder-endDate {
  border: 1px solid #000;
  width: 100px;
}



.item-list {
  display: flex;
}
.item-check {
  border: 1px solid #000;
  width: 30px;
}
.item-title {
  border: 1px solid #000;
  width: 50px;
}
.item-contents {
  border: 1px solid #000;
  width: 100px;
}
.item-price {
  border: 1px solid #000;
  width: 100px;
}
.item-whet {
  border: 1px solid #000;
  width: 100px;
}
.item-endDate {
  border: 1px solid #000;
  width: 100px;
}
