
<div class="content">
  <div class="button-area">
    <div class="button-item">
      <input type="button" class="btn-border" on-click="onTransaction()" value="取引する">
    </div>
    <div class="button-item">
      <input type="button" class="btn-border" on-click="onMyList()" value="マイリストに追加">
    </div>
    <div class="button-item">
      <input type="button" class="btn-border" on-click="onTransactionStatus()" value="現在の取引状況を確認する">
    </div>
  </div>

  <div class="contents-area">
    <div>{{serviceTitle}}</div>
    <p>ここに画像を貼りたい</p>
  </div>


  <div class="detail-area">
    <div>
      <input type="button" class="btn-border" on-click="goBack()" value="一覧に戻る">
    </div>

    <div>
      <p>日付</p>
    </div>

    <div>
      <p>価格</p>
    </div>

    <div>
      <p>場所</p>
    </div>

  </div>
</div>

